:css
  .facets {
    background-color: #f8f8f8;
    padding: 1em;
  }
  .mini-page-header {
    border-bottom-color: rgb(208, 208, 208);
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }
  li {
  margin: 0.1em 0em;
  }
  .funder {
    margin-top: .3em;
    margin-buttom: .3em;
  }
  .funder-level1 {
    margin-top: .5em;
    margin-bottom: .5em;
    padding-top: .5em;
    border-top-color: rgb(208, 208, 208);
    border-top-style: solid;
    border-top-width: 1px;
  }
  .funder-hl {
    font-weight: bold;
  }
  .funder-header {
    padding-bottom: 0.1em;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
  }
  .funder-header h6 {
    font-size: 1.1em;
  }
  .funder-header h6 a {
    font-size: 1em;
  }
  .funder-expand {
    padding: 0.2em;
    font-size: 0.9em;
    color: rgb(164, 164, 164);
    font-weight: light;
    margin-left: 0.4em;
  }
  .facet-spacer {
    margin-bottom: 1em;
  }

:javascript
  $(document).ready(function() {
    $('#on_facets #us_only').change(function() {
      if($("#us_only").is(':checked')) {
        console.log('asd');
        insertParam('us-only', 't');
      } else {
      console.log('else');
        insertParam('us-only', 'f');
      }
    });
  });

  function insertParam(key, value)
  {
      key = encodeURI(key); value = encodeURI(value);

      var kvp = document.location.search.substr(1).split('&');

      var i=kvp.length; var x; while(i--)
      {
          x = kvp[i].split('=');

          if (x[0]==key)
          {
              x[1] = value;
              kvp[i] = x.join('=');
              break;
          }
      }

      if(i<0) {kvp[kvp.length] = [key,value].join('=');}

      //this will reload the page, it's likely better to store this until finished
      document.location.search = kvp.join('&');
  }

%label#on_facets
  %input{type: "checkbox", id: "us_only", checked: (params['us-only'] == 't')}
  = "&nbsp;&nbsp;US/Federal only"

.facets
  - unless page[:us_only]
    .funder-header
      - top_funder_id = render_top_funder_id(page[:nesting])
      - if top_funder_id == page[:funder_id]
        %h6= render_top_funder_name(page[:nesting], page[:nesting_names])
      - else
        %h6
          %a{:href => "/?q=#{top_funder_id}"}
            = render_top_funder_name(page[:nesting], page[:nesting_names])
  - funders_ids = (page[:us_only] ? page[:nesting] : rest_funder_nesting(page[:nesting]))
  - render_funders(funders_ids, page[:nesting_names], 0) do |indent, id, name, more|
    .funder{:class => "funder-level#{indent}", :style => "margin-left:#{(indent - 1) * 20}px;"}
      - if more
        .pull-right
          %span.funder-expand +
      - if id != page[:funder_id]
        %a{:href => link_to_funder(id)}= name
      - else
        %span.funder-hl= name

.facets
  - page[:facets].each do |name, values|
    .mini-page-header
      %h6= name
    %ul.nav.nav-list
      - values.each do |value_name, value_count|
        - unless value_count.zero?
          - if params.has_key?(name) && params[name].include?(value_name)
            %li.active
              %a{:href => "#{facet_link_not(name, value_name)}"}
                %i.icon-check
                = value_name
                %span.number= "(#{value_count})"
          - else
            %li
              %a{:href => "#{facet_link(name, value_name)}"}
                %i.icon-check-empty
                = value_name
                %span.number= "(#{value_count})"
