%tr
  %td.item-data
    - if item.title
      %p.lead= item.title
      %p.extra{:style => 'margin-top: .5em;'}
        %span
          %b= item.type
          published
          %b
            - unless item.day.nil?
              = item.day
            - unless item.month.nil?
              = item.month
            - if item.year
              = item.year
        - if item.publication
          %span
            in
            %b= item.publication
        - if item.volume
          %span
            volume
            %b= item.volume
        - if item.issue
          %span
            issue
            %b= item.issue
        - if item.first_page && item.last_page
          %span
            on pages
            %b= item.first_page
            to
            %b= item.last_page
        - elsif item.first_page
          %span
            on page
            %b= item.first_page

    - if item.funders
      %p.extra
        %span Research funded by
        %span= item.funders.join('  |  ')

    - unless item.authors.empty?
      %p.expand= "Authors: #{item.authors.join(', ')}"

    - if item.supplementary_id
      %p.expand= "Other IDs: #{item.supplementary_id}"

    = partial :item_links, :item => item

